{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="index-banner">
  <div class="section">
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card" style="background-color: rgba(255, 255,255, 0.90);">
    <div class="card-content">
      <div class="col l2 m3 s4">
        <img src="static/client/hslogo.png" class="responsive-img">
      </div>
      <div class="hide-on-med-and-up col s8">
        <h4 style="font-size:1.2rem;font-weight:400;">Hearthstone Deep Learning</h4>
      </div>
      <div class="col l10 m9 s12">
        <div class="hide-on-small-and-down">
          <h4 style="font-size:1.64rem;font-weight:400;">Hearthstone Deep Learning</h4>
          <div class="hide-on-large-only">
        <br>
          </div>
          <a class="waves-effect waves-light btn light-blue darken-3 right" style="margin-bottom:10px;margin-top:0px;margin-left:10px;" href="#"><i class="mdi mdi-google-play left"></i>Button 2</a><a class="waves-effect waves-light btn light-blue darken-3 text-primarycolor right" style="margin-bottom:10px;margin-top:0px;" href="#"><i class="mdi mdi-credit-card left"></i>Button 1</a>
          <br>
          <br><br>
        </div>
        <div class="hide-on-med-and-up center">
          <p>
        <a class="waves-effect waves-light btn light-blue darken-3" style="width: 115px;margin-bottom:10px;margin-right:10px;padding-right:0.1rem;padding-left:0.1rem;font-size: 0.8rem;" href="#">
          <i class="mdi mdi-google-play left" style="margin-right: 0px;"></i>Button 1</a>
        <a class="waves-effect waves-light btn light-blue darken-3 text-primarycolor" style="width:115px;margin-bottom:10px;margin-right:10px;padding-right: 0.1rem;padding-left:0.1rem;font-size: 0.8rem;" href="#">
          <i class="mdi mdi-credit-card left" style="margin-right: 0px;"></i>Button 2</a>
          </p>
        </div>
        <div class="divider" style="clear:both;"></div>
      </div>
      <div class="s12" style="clear:both;">
        <p class="center-align" style="color: rgba(0, 0, 0, 0.71); margin: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pretium mollis lacus. Suspendisse magna erat, feugiat vitae condimentum malesuada, rhoncus tristique quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus placerat lacus lectus, in fringilla nisl rutrum et. In accumsan enim ligula, non vestibulum tortor suscipit sit amet. In eu finibus sapien. Aliquam congue fringilla viverra. Sed vel est nulla. Ut convallis tortor odio, quis posuere nisl pretium non.</p>
        <p class="center-align" style="color: rgba(0, 0, 0, 0.71); margin: 15px;"><a class="waves-effect waves-light btn light-blue darken-3" href="#" style="margin-right:10px;"><i class="mdi mdi-camera left"></i>Download last version</a></p>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

<div class="container light-blue-text text-darken-3">
  <div class="row">
<div class="col s12">
  <h5>Latest versions</h5>
  <p style="font-weight:400">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pretium mollis lacus. Suspendisse magna erat, feugiat vitae condimentum malesuada, rhoncus tristique quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus placerat lacus lectus, in fringilla nisl rutrum et. In accumsan enim ligula, non vestibulum tortor suscipit sit amet. In eu finibus sapien. Aliquam congue fringilla viverra. Sed vel est nulla. Ut convallis tortor odio, quis posuere nisl pretium non.

    Proin consequat varius auctor. Vivamus porta luctus sollicitudin. Aenean sed justo at erat pharetra euismod. Nunc ut dolor in nisl dictum dapibus. Ut tortor nibh, volutpat vel posuere vel, dignissim non ipsum. In aliquam porta quam et maximus. Nullam non pellentesque neque. Suspendisse malesuada odio arcu, id pretium risus pellentesque et. Sed mattis magna ut ex porttitor, a lacinia mi vulputate. Nulla consectetur id enim in vulputate. Curabitur pharetra venenatis ante vel condimentum. Nullam egestas enim nec consequat tincidunt. Sed iaculis feugiat urna in ultrices. Maecenas a eros tincidunt, tincidunt sapien eu, sagittis risus. Mauris pellentesque tincidunt orci, ac tempus mauris scelerisque nec. Cras consectetur, lorem non tincidunt rhoncus, felis tortor rutrum diam, at aliquam erat orci ut metus.
  </p>
</div>
  </div>
  <div class="row">
<div class="col s12 l6" id="versions-list">
  <ul class="collapsible mobile-list-margin" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="mdi mdi-lock text-primarycolor"></i>Version 2.3.1 (latest) <a href="#!" class="secondary-content" style="font-weight:500;"></a></div>
      <div class="collapsible-body white" style="display: none;">
    <p>Prevent end-users from exiting or changing settings with password and/or fingerprint reader.</p>
    <p class="docs-link"><a href="#" target="_blank">Direct download</a></p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi mdi-lock text-primarycolor"></i>Version 2.3.0<a href="#!" class="secondary-content" style="font-weight:500;"></a></div>
      <div class="collapsible-body white" style="display: none;">
    <p>Prevent end-users from exiting or changing settings with password and/or fingerprint reader.</p>
    <p class="docs-link"><a href="#" target="_blank">Direct download</a></p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi mdi-lock text-primarycolor"></i>Version 2.2.1<a href="#!" class="secondary-content" style="font-weight:500;"></a></div>
      <div class="collapsible-body white" style="display: none;">
    <p>Prevent end-users from exiting or changing settings with password and/or fingerprint reader.</p>
    <p class="docs-link"><a href="#" target="_blank">Direct download</a></p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi mdi-lock text-primarycolor"></i>Version 2.0<a href="#!" class="secondary-content" style="font-weight:500;"></a></div>
      <div class="collapsible-body white" style="display: none;">
    <p>Prevent end-users from exiting or changing settings with password and/or fingerprint reader.</p>
    <p class="docs-link"><a href="#" target="_blank">Direct download</a></p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi mdi-lock text-primarycolor"></i>Version 1.9<a href="#!" class="secondary-content" style="font-weight:500;"></a></div>
      <div class="collapsible-body white" style="display: none;">
    <p>Prevent end-users from exiting or changing settings with password and/or fingerprint reader.</p>
    <p class="docs-link"><a href="#" target="_blank">Direct download</a></p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi mdi-lock text-primarycolor"></i>Version 1.8<a href="#!" class="secondary-content" style="font-weight:500;"></a></div>
      <div class="collapsible-body white" style="display: none;">
    <p>Prevent end-users from exiting or changing settings with password and/or fingerprint reader.</p>
    <p class="docs-link"><a href="#" target="_blank">Direct download</a></p>
      </div>
    </li>
  </ul>
</div>
  </div>
</div>
</div>

<div class="row blue darken-3">
<div class="container white-text text-white">
<h5>How it works</h5>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend quis felis non molestie. Donec nunc turpis, ultricies a ipsum in, sagittis varius mi. Mauris ante sapien, pretium eu risus non, fringilla egestas libero. Nam eu lorem consectetur, placerat lectus non, rhoncus erat. Curabitur in fermentum justo. In ac suscipit nisi. Aenean fringilla leo eget ipsum mollis, nec sollicitudin augue varius. Fusce eu finibus sapien.

  Curabitur quis blandit mi. Curabitur vel enim id lacus venenatis varius eget ut nunc. Maecenas quis neque libero. Sed sagittis ultrices lacus sagittis fermentum. Proin sit amet dui et erat posuere porttitor nec vel odio. Vivamus ut malesuada lorem. Curabitur ac bibendum nisl. Donec iaculis orci non nisl lobortis, ac accumsan turpis pellentesque. Fusce nec odio faucibus, consequat enim a, blandit orci. Vivamus lobortis, quam vitae viverra gravida, eros elit convallis lacus, eu commodo purus turpis sed mauris. Vestibulum sit amet quam laoreet, egestas enim sed, auctor lacus.

  Maecenas tincidunt eros eget lorem posuere molestie. Aliquam eu massa porttitor, dictum tortor in, rhoncus ex. Donec in sem vel nunc ornare porta vel non diam. Cras vitae tincidunt libero, nec sollicitudin eros. Maecenas rhoncus aliquet augue, sit amet convallis ipsum. Suspendisse massa augue, bibendum sed porta nec, hendrerit vitae dui. Duis a bibendum nunc, vel mollis magna. Vivamus dictum justo a purus cursus feugiat sit amet non quam. Donec orci mauris, sagittis quis fringilla ac, eleifend nec nisi. Nam purus sem, euismod in mi et, elementum consequat ligula. Integer turpis nisl, malesuada eget quam id, condimentum maximus massa. Integer posuere et dui at placerat. Pellentesque sodales ipsum mi, a finibus nunc fermentum eu. Sed posuere lectus quam, id posuere nisl cursus at. Pellentesque lobortis finibus tristique.
</p>
</div>
</div>

{% endblock %}
